<h1>Channels Information </h1>
<h1 id = "cnl">{{channel}}</h1>
<button onclick="refresh()">Begin Channel</button>
<div id = "info_channel">
        <textarea rows="15" cols = "80" id = "cnlinfo">
        </textarea>
</div>
<script type="text/javascript" src="subinfo.js">
</script>